.react-calendar {
    border: none !important;
    font-family: inherit;
    width: 100% !important;
}

.react-calendar__month-view__weekdays {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    color: #5457DE;
    text-decoration: none !important;
}
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__tile {
    color: #4b5563; 
    font-size: 0.9rem;
    padding: 10px 0;
    border-radius: 8px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e0e7ff; 
    color: #5457DE;
}

.react-calendar__tile--active {
    background: #5457DE !important;
    color: white !important;
    border-radius: 8px;
}

.react-calendar__tile--now {
    background: transparent;
    color: #5457DE;
    font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #cbd5e1 !important;
    opacity: 0.9;
}

.react-calendar__month-view__days__day--neighboringMonth:hover {
    background-color: transparent !important;
    color: #cbd5e1 !important;
    cursor: default;
}