@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --cor-fundo-pagina: #CCCBFF;
  --cor-principal: #5754DE; 
  --cor-fundo-home: #F2F2F2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-fundo-pagina: var(--cor-fundo-pagina);
  --color-principal: var(--cor-principal);
  --color-fundo-home: var(--cor-fundo-home);
  --font-sans: var(--font-lato);
}


body {
  background: var(--background);
  color: var(--foreground);
}